@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');

/* main {
    display: flex;
    position: relative;
    /* height: 200vh; */
    justify-content:flex-start;
    align-items: center;
    /* align-content: flex-start; */
    flex-wrap: wrap;
   
}

body {
    height: 500vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color:blue; */
    

}

/* em {
    font-size: 12pt;
} */

li, a, button {
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 18pt;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    background-color: black;
    max-width: 100%;
    max-height: 100px;
    position: relative;
    /* left: 2vw; */
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
}

.login {
    position: relative;
    left: 4vw;
}

.start {
    position: relative;
    background-color: #ED661F;
    margin: 10px 5px;
    padding: 20px;
    border: 2px;
    
}

.logo {
    cursor: pointer;
    font-family: "inter", 'sans-serif';
    font-size: 28pt;
    color: #ffffff;
    font-weight: 700;   

}

.nav_links {
    list-style: none;

}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #24252A;
}

button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(172, 169, 169);
}


/* .flexbox-item {
    width: 200px;
    align-content: flex-start;
    font: 'inter', 'sans serif';
    margin: 10px;
} */

main {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
}

.flexbox-item {
    position: relative;
    left: 5vw;
    max-width: 100%;
    height: max-content;
}

main :first-child {
    
}

h1{
    position: relative;
    margin: 20px 5px;
    border: 5px;
    /* padding:20px; */
    top: 2vh;
    font-family: 'Inter', sans-serif;
    font-size: 50pt;
    font-weight: 500;
}

h2 {
    position: relative;
    bottom: 40px;
    /* left: 15px; */
    top: 3vh;
    font-size: 28pt;
    color: rgb(0, 0, 0);
}

h3 {
    color: whitesmoke;
    position: relative;
    width: 180px;
    top: 80px;
    font-family: "Inter", 'sans-serif';
    font-size: 18pt;
    text-align:center;
    background-color: #ED661F;
    padding: 30px;
    padding-left: 1px;
    padding-right: 1px;
    /* padding: 25px 0px 20px 25px; */
}

.section1 {
    background-image: url("assets/images/image 1.png");
    background-size: cover;
    background-size: contain;
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
}
span {
     display: block;
     /* justify-content: space-around; */
     position: relative;
     /* word-wrap: break-word; */
     height: 50px;
     white-space: normal;
}

em {
    display: block;
    position: relative;
    top: 100px;
}

rem {
    display: block;
    position: relative;
    left: 100px;
}

.customers {
    display:flex;
    background-color: #ED661F;
    word-wrap: wrap;
    align-content:center;
    position: absolute;
    text-align: left;
    top: 750px;
    left: 600px;
    /* left: 2in; */
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
    padding: 10px;
    border: 2px;
    width: 850px;
    height: 180px;
    text-align: center;
}

.why {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px;
    margin: 50px 10px;
    height: 150px;
    top: 25em;
}

.why > h {
    border-bottom: 5px;
    border-color: #ED661F;
    font-family: "Inter", 'sans-serif';
    font-weight: 700;
    font-size: 28pt;


}


.why > p {
    font-family: "Inter", 'sans-serif';
    font-size: 20pt;
    color: #616464;
    line-height: 30px;
}

#img3 {
    position: absolute;
    font-family: "Poppins", 'sans-serif';
    left: 50vw;
    width: 600px;
    height: 400px;
    padding: 20px;
    /* float: right; */
}

.categories {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40vh;
    left: 40vw;

}

.categories > h {
    padding: 20px;
    border-bottom: 5px #ED661F;
    font-family: "Inter", 'sans-serif';
    font-weight: 700;
    font-size: 28pt;
}

.categories > p {
    font-family: "Inter", 'sans-serif';
    font-size: 18pt;
    color: #616464;
    line-height: 30px;

}
/* .top_container {
    position: inherit;
    max-width: 80%;
    font-family: 'inter','sans serif';
    max-height: 100px;
    position:relative;
    bottom: 20px;
    left: 5vh;
    text-align: left;
    justify-content: space-around;
}

#homeicon {
    margin: 5px;
    padding: 10px;
    font-size: 28pt;
    font-weight: 700;
    position: relative;
    bottom: 20px;
    left: 2em;

}

#about {
    position: relative;
    bottom: 20px;
    line-height: 1em;
}


em {
    display: block;
    font-size: 10px;
} */