@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');

main {
    display: flex;
    justify-content: center;
    /* align-content: flex-start; */
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
   
}

.top_container {
    width: 80%;
    max-height: fit-content;
}

/* .top_container {
    position: inherit;
    max-width: 80%;
    font-family: 'inter','sans serif';
    max-height: 100px;
    position:relative;
    bottom: 20px;
    left: 5vh;
    text-align: left;
    justify-content: space-around;
}

#homeicon {
    margin: 5px;
    padding: 10px;
    font-size: 28pt;
    font-weight: 700;
    position: relative;
    bottom: 20px;
    left: 2em;

}

#about {
    position: relative;
    bottom: 20px;
    line-height: 1em;
}


em {
    display: block;
    font-size: 10px;
} */