@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');

main {
    display: flex;
    position: relative;
    /* height: 200vh; */
    justify-content:flex-start;
    align-items: center;
    /* align-content: flex-start; */
    flex-wrap: wrap;
   
}

.top_container {
    align-items: flex-start;
    /* width: 80%; */
    position: absolute;
    min-height: 200px;
}

/* .flexbox-item {
    width: 200px;
    align-content: flex-start;
    font: 'inter', 'sans serif';
    margin: 10px;
} */

.flexbox-item > agri {
    font-size: 18pt;
}

#img3 {
    position: relative;
    width: 400px;
    height: 250px;
    padding: 20px;
    float: right;
}

/* .top_container {
    position: inherit;
    max-width: 80%;
    font-family: 'inter','sans serif';
    max-height: 100px;
    position:relative;
    bottom: 20px;
    left: 5vh;
    text-align: left;
    justify-content: space-around;
}

#homeicon {
    margin: 5px;
    padding: 10px;
    font-size: 28pt;
    font-weight: 700;
    position: relative;
    bottom: 20px;
    left: 2em;

}

#about {
    position: relative;
    bottom: 20px;
    line-height: 1em;
}


em {
    display: block;
    font-size: 10px;
} */