@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');
header {
     display: block;
}

.top-container {
     display: flex;
     justify-content: space-evenly;
}

/* .img {
     background-image: url(https://ibb.co/LkFQsM7);
} */
