@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');

/* body {
     background-color: black ;
} */

header {
     display: block;
}

.top_container {
     display: flex;
     max-width: 100%;
     justify-content: space-around;
     margin-left: 80px;
     margin-right: 80px;
     padding: 20px;
     border-bottom: 5px solid black;

}

#homeicon {
     font-family: 'Inter', sans-serif;
     font-size: 28pt;
     color: whitesmoke;
}

#start {
     font-family: 'Inter', sans-serif;
     font-size: 14pt;
     color: whitesmoke;
     position: relative;
     top: 20px;
}

.homelinks {
     display: flex;
     font-family: 'Inter', sans-serif;
     font-size: 12pt;
     color: whitesmoke;
     width: 80px;
     padding:5px;
     flex-flow: nowrap;
     margin: 5px;
     position: absolute;
     left: 500px;
     justify-content: space-between;
     letter-spacing: 1px;
}

#login {
     font-family: 'Inter', sans-serif;
     font-size: 14pt;
     color: whitesmoke;
     position: relative;
     top: 20px;
     left: 310px;
}
/* #home, #about, #products, #contacts, #login {
     font-family: 'Inter', sans-serif;
     font-size: 14pt; */
}

#start {
     font-family: 'Inter', sans-serif;
     font-size: 18pt;
     color: whitesmoke;
}

#home, #about, #products, #contacts {
     position: relative;
     width: 50px;
     padding-left: 50px;
     padding-right: 50px;
     margin-top: 10px;
}

#login {
     padding-left: 80px;
     padding-right: 40px;
}

#background_container {
     background-image: url(https://ibb.co/LkFQsM7);
     height:400px;
     /* background-color: #ED661F; */
     background-repeat: no-repeat;
     /* background-position: center; */
     background-size: cover;
}

#background_container {
     width: 1300px;
     height: 400px;
     position: absolute;
     padding: 50px;
     margin: 5px;
     top: 100px;
     left: 280px;

}

background:first-child {
     font-family: 'Inter', sans-serif;
     font-size: 18pt;
}

h2 {
     font-size: 14pt;
     color: whitesmoke;
}

h3 {
     color: whitesmoke;
     position: relative;
     width: 180px;
     top: 15px;
     text-align:center;
     background-color: #ED661F;
     padding: 30px;
     padding-left: 1px;
     padding-right: 1px;
     /* padding: 25px 0px 20px 25px; */
}

/* .img {
     background-image: url(https://ibb.co/LkFQsM7);
} */

/* .customers {
     background-color: #ED661F;
     display: flex;
     align-content: center;
     position: absolute;
     justify-content: space-evenly;
     font-family: 'Inter', sans-serif;
     font-size: 12pt;
     margin: 2px;
     border: 1px;
     padding: 10px;
     padding-bottom: 1px;
     width: 550px;
     height: 300px;
     text-align: center;
} */

span {
     display: block;
     /* word-wrap: break-word; */
     /* width: 150px; */
     white-space: normal;
}

table {
     font-family: 'Inter', sans-serif;
     font-size: 12pt;
     border-collapse: collapse;
     text-align: center;
     width: 550px;
     height: 300px;
}
