@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@300&display=swap');

/* body {
     background-color: black ;
} */

header {
     display: block;
}
main {
     display: flex;
     max-width: 90%;
     height: fit-content;
}
/* 
.top_container {
     max-width: 100%;
     max-height: 100px;
     /* justify-content: space-around;
     margin-left: 150px;
     margin-right: 80px;
     padding: 20px; */
     border-bottom: 5px solid black;

} */

.top-container {
     text-align: left;
}

#homeicon {
     font-family: 'Inter', sans-serif;
     font-size: 28pt;
     color: rgb(0, 0, 0);
}

#start {
     font-family: 'Inter', sans-serif;
     font-size: 14pt;
     color: whitesmoke;
     position: relative;
     top: 20px;
     left: 500px;
}

/* .homelinks {
     /* display: flex; */
     font-family: 'Inter', sans-serif;
     font-size: 12pt;
     color: whitesmoke;
     width: 80px;
     padding:5px;
     flex-flow: nowrap;
     margin: 5px;
     position: absolute;
     left: 500px;
     justify-content: space-between;
     letter-spacing: 1px;
} */

#login {
     font-family: 'Inter', sans-serif;
     font-size: 14pt;
     color: whitesmoke;
     position: relative;
     top: 20px;
     left: 650px;
}
/* #home, #about, #products, #contacts, #login {
     font-family: 'Inter', sans-serif;
     font-size: 14pt; */
}

#start {
     font-family: 'Inter', sans-serif;
     font-size: 18pt;
     margin-right: 50px;
     color: whitesmoke;
}

#home, #about, #products, #contacts {

     position: relative;
     float: right;
     font-family: 'Inter', sans-serif;
     font-size: 18pt;
     margin-right: 50px;
     padding: 20px;
     width: 600px;
     /* padding-left: 50px;
     padding-right: 50px;
     margin-top: 10px; */
}

#login {
     padding-left: 80px;
     padding-right: 40px;
}


.background_container {
     width: 1000px;
     height: 400px;
     position: absolute;
     /* padding: 50px; */
     margin: 5px;
     top: 120px;
     left: 280px;
     

}

h1{
     font-family: 'Inter', sans-serif;
     font-size: 24pt;
     height: 100px;
}

h2 {
     position: relative;
     top: 15px;
     font-size: 18pt;
     color: whitesmoke;
}

h3 {
     color: whitesmoke;
     position: relative;
     width: 180px;
     top: 30px;
     text-align:center;
     background-color: #ED661F;
     padding: 30px;
     padding-left: 1px;
     padding-right: 1px;
     /* padding: 25px 0px 20px 25px; */
}

/* .img {
     background-image: url(https://ibb.co/LkFQsM7);
} */

.customers {
     background-color: #ED661F;
     display: flex;
     align-content: center;
     position: relative;
     top: 520px;
     right: 350px;
     justify-content: space-evenly;
     align-items: center;
     font-family: 'Inter', sans-serif;
     font-size: 12pt;
     border: 1px;
     padding: 10px;
     width: 600px;
     height: 100px;
     text-align: center;
}

span {
     display: block;
     /* word-wrap: break-word; */
     width: 150px;
     white-space: normal;
}

/* table {
     font-family: 'Inter', sans-serif;
     font-size: 12pt;
     border-collapse: collapse;
     text-align: center;
     width: 550px;
     height: 300px;
} */


/* .why {
     display: grid; */
     justify-content:left;
     width:fit-content;
     padding: 10px 10px;
     max-height: 500px;
     grid-gap: 10px 10px;
     padding: 20px;
     text-align: left;
     position: absolute;
     left: 80px;
     top: 200px;
     top: 3 ems;
     grid-template-columns: 500px 450px;
     grid-template-rows: 40px;
     align-items: center;
     justify-content: flex-start;
    
    
}
em {
     position:absolute;
     top: 50px;
}

.why > h {
     margin: 5px;
     padding: 10px;
     font-family: "inter" 'sans-serif';
     font-size: 18pt;
     color: solid black;
     font-weight: 700;


}


#img3 {
     width: 400px;
     height: 250px;
     padding: 20px;
     float: right;
}